<a href="https://colab.research.google.com/github/fjadidi2001/Insurance/blob/main/Risk_Category_Final.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
from imblearn.over_sampling import SMOTE
from collections import Counter
from sklearn.preprocessing import LabelEncoder

In [3]:
import pandas as pd
from imblearn.over_sampling import SMOTE
from collections import Counter
from sklearn.preprocessing import LabelEncoder

# Load your dataset
data = pd.read_csv('telematics_syn.csv')

# Step 1: Inspect the Dataset

In [4]:
# Check the first few rows
print(data.head())

# Check data types and missing values
print(data.info())

# Summary statistics
print(data.describe())

   Duration  Insured.age Insured.sex  Car.age  Marital  Car.use  Credit.score  \
0       366           45        Male       -1  Married  Commute         609.0
1       182           44      Female        3  Married  Commute         575.0
2       184           48      Female        6  Married  Commute         847.0
3       183           71        Male        6  Married  Private         842.0
4       183           84        Male       10  Married  Private         856.0

  Region  Annual.miles.drive  Years.noclaims  ...  Left.turn.intensity10  \
0  Urban             6213.71              25  ...                    1.0
1  Urban            12427.42              20  ...                   58.0
2  Urban            12427.42              14  ...                    0.0
3  Urban             6213.71              43  ...                    0.0
4  Urban             6213.71              65  ...                    2.0

   Left.turn.intensity11  Left.turn.intensity12  Right.turn.intensity08  \
0                    0.0                    0.0                     3.0
1                   24.0                   11.0                  1099.0
2                    0.0                    0.0                     0.0
3                    0.0                    0.0                     0.0
4                    0.0                    0.0                   325.0

   Right.turn.intensity09  Right.turn.intensity10  Right.turn.intensity11  \
0                     1.0                     0.0                     0.0
1                   615.0                   219.0                   101.0
2                     0.0                     0.0                     0.0
3                     0.0                     0.0                     0.0
4                   111.0                    18.0                     4.0

   Right.turn.intensity12  NB_Claim    AMT_Claim
0                     0.0       1.0  5100.171753
1                    40.0       1.0   883.554840
2                     0.0       0.0     0.000000
3                     0.0       0.0     0.000000
4                     2.0       0.0     0.000000

[5 rows x 52 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80022 entries, 0 to 80021
Data columns (total 52 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Duration                80022 non-null  int64
 1   Insured.age             80022 non-null  int64
 2   Insured.sex             80022 non-null  object
 3   Car.age                 80022 non-null  int64
 4   Marital                 80022 non-null  object
 5   Car.use                 80022 non-null  object
 6   Credit.score            80022 non-null  float64
 7   Region                  80022 non-null  object
 8   Annual.miles.drive      80022 non-null  float64
 9   Years.noclaims          80022 non-null  int64
 10  Territory               80022 non-null  int64
 11  Annual.pct.driven       80022 non-null  float64
 12  Total.miles.driven      80022 non-null  float64
 13  Pct.drive.mon           80022 non-null  float64
 14  Pct.drive.tue           80022 non-null  float64
 15  Pct.drive.wed           80022 non-null  float64
 16  Pct.drive.thr           80022 non-null  float64
 17  Pct.drive.fri           80022 non-null  float64
 18  Pct.drive.sat           80022 non-null  float64
 19  Pct.drive.sun           80022 non-null  float64
 20  Pct.drive.2hrs          80022 non-null  float64
 21  Pct.drive.3hrs          80022 non-null  float64
 22  Pct.drive.4hrs          80022 non-null  float64
 23  Pct.drive.wkday         80022 non-null  float64
 24  Pct.drive.wkend         80022 non-null  float64
 25  Pct.drive.rush am       80022 non-null  float64
 26  Pct.drive.rush pm       80022 non-null  float64
 27  Avgdays.week            80022 non-null  float64
 28  Accel.06miles           80022 non-null  float64
 29  Accel.08miles           80022 non-null  float64
 30  Accel.09miles           80022 non-null  float64
 31  Accel.11miles           80022 non-null  float64
 32  Accel.12miles           80022 non-null  float64
 33  Accel.14miles           80022 non-null  float64
 34  Brake.06miles           80022 non-null  float64
 35  Brake.08miles           80022 non-null  float64
 36  Brake.09miles           80022 non-null  float64
 37  Brake.11miles           80022 non-null  float64
 38  Brake.12miles           80022 non-null  float64
 39  Brake.14miles           80022 non-null  float64
 40  Left.turn.intensity08   80022 non-null  float64
 41  Left.turn.intensity09   80022 non-null  float64
 42  Left.turn.intensity10   80022 non-null  float64
 43  Left.turn.intensity11   80021 non-null  float64
 44  Left.turn.intensity12   80021 non-null  float64
 45  Right.turn.intensity08  80021 non-null  float64
 46  Right.turn.intensity09  80021 non-null  float64
 47  Right.turn.intensity10  80021 non-null  float64
 48  Right.turn.intensity11  80021 non-null  float64
 49  Right.turn.intensity12  80021 non-null  float64
 50  NB_Claim                80021 non-null  float64
 51  AMT_Claim               80021 non-null  float64
dtypes: float64(43), int64(5), object(4)
memory usage: 31.7+ MB
None
           Duration   Insured.age       Car.age  Credit.score  \
count  80022.000000  80022.000000  80022.000000  80022.000000
mean     314.209455     51.386969      5.648709    800.881783
std       79.730553     15.477208      4.062763     83.443452
min       65.000000     16.000000     -2.000000    422.000000
25%      200.000000     39.000000      2.000000    766.000000
50%      365.000000     51.000000      5.000000    825.000000
75%      366.000000     63.000000      8.000000    856.000000
max      366.000000    103.000000     19.000000    900.000000

       Annual.miles.drive  Years.noclaims     Territory  Annual.pct.driven  \
count        80022.000000    80022.000000  80022.000000       80022.000000
mean          9112.841099       28.843755     56.472945           0.503362
std           3815.257408       16.127834     24.052233           0.299431
min              0.000000        0.000000     11.000000           0.002740
25%           6213.710000       15.000000     35.000000           0.249315
50%           7456.452000       29.000000     62.000000           0.490411
75%          12427.420000       41.000000     78.000000           0.756164
max          56731.172300       79.000000     91.000000           1.000000

       Total.miles.driven  Pct.drive.mon  ...  Left.turn.intensity10  \
count        80022.000000   80022.000000  ...           80022.000000
mean          4836.104662       0.139322  ...             564.669803
std           4546.133547       0.042888  ...           14878.898977
min              0.095298       0.000000  ...               0.000000
25%           1528.929598       0.120854  ...               0.000000
50%           3476.744227       0.137908  ...               3.000000
75%           6786.730979       0.155154  ...              30.000000
max          47282.603936       0.998172  ...          794380.000000

       Left.turn.intensity11  Left.turn.intensity12  Right.turn.intensity08  \
count           80021.000000           80021.000000            80021.000000
mean              495.192025             453.554504              802.364642
std             14354.095429           13863.868833            10428.011266
min                 0.000000               0.000000                0.000000
25%                 0.000000               0.000000               12.000000
50%                 1.000000               0.000000              124.000000
75%                 9.000000               2.000000              682.000000
max            793926.000000          793170.000000           743789.000000

       Right.turn.intensity09  Right.turn.intensity10  Right.turn.intensity11  \
count            80021.000000            80021.000000            80021.000000
mean               523.125380              284.600605              209.441272
std               9427.313633             8159.602380             7798.887624
min                  0.000000                0.000000                0.000000
25%                  3.000000                0.000000                0.000000
50%                 44.000000                7.000000                2.000000
75%                321.000000               81.000000               27.000000
max             743787.000000           743784.000000           743769.000000

       Right.turn.intensity12      NB_Claim     AMT_Claim
count            80021.000000  80021.000000  80021.000000
mean               166.638620      0.045238    136.996528
std               7499.291338      0.218840   1208.416547
min                  0.000000      0.000000      0.000000
25%                  0.000000      0.000000      0.000000
50%                  0.000000      0.000000      0.000000
75%                  9.000000      0.000000      0.000000
max             743741.000000      3.000000  54301.710938

[8 rows x 48 columns]

# Step 2: Handle Missing Values

In [8]:
# Drop the single row with missing values
data.dropna(inplace=True)

## Step 2.1. Fix Invalid Car.age

In [9]:
# Replace negative values with 0 (assuming data entry error)
data['Car.age'] = data['Car.age'].clip(lower=0)

# 3. Encode Categorical Variables

In [10]:
# One-hot encode categorical features
cat_cols = ['Insured.sex', 'Marital', 'Car.use', 'Region']
data = pd.get_dummies(data, columns=cat_cols, drop_first=True)

# 4. Separate Features & Target